build/
build-*/
cmake-build-*/
.cache/
install/
install-*/
*.kdev4
.user
.directory
resources/CMakeFiles
*~
*.swp
html/
*.pro.user
CMakeLists.txt.user
CMakeLists.txt.user.*
/.project
/.settings
/.idea
/.vscode
Debug
